

/*Opmaak Header*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: #222222;
}

nav ul {
    float: right;
    margin-top:20px;
    margin-left: 200px;
}

nav ul li  {
    list-style: none; 
    float: left;
    margin-right: 20px;
}

nav ul li a {
    float: left;
    margin-right: 150px;
    color: #fff;
    font-family: Arial;
    font-size: 16px;
}

nav ul form {
    float: left;
}

nav ul form input {
    float: left;
    border: none;
    margin-right: 6px;

}

nav ul form button {
    background-color: #222222;
    float: left;
    border: none;
    margin-right: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
/*Einde opmaak Header*/

/*Corendon logo*/
#CorendonLogo{
    height: 50px;
    width: 200px;
}
/*Opmaak knoppen van Deur en Licht*/
.Knop {
    width: 200px;
    height: 200px;
    position:absolute;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 20px;
}

/*Opmaak Licht*/
#LichtAan {
    background-color: #4CAF50;
    margin-top: 100px;
    margin-left: 25%;   
}

#LichtUit {
    background-color: #f44336;
    margin-top: 100px;
    margin-left: 60%;    
}

.status {
    font-size: 20px;
}

/*Opmaak Deur*/
#DeurOpen {
    background-color: #4CAF50;
    margin-top: 100px;
    margin-left: 25%;    
}

#DeurDicht {
    background-color: #f44336;
    margin-top: 100px;
    margin-left: 60%;
}

/* Nav Bar Stylez */
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Einde NavigationBar opmaak */

/*Thermostaat opmaak*/

#plus {
    background-color: #4CAF50;
    margin-top: 100px;   
    margin-left: 5%;
    font-size: 80px;
}

#min {
    background-color: #f44336;
    margin-top: 100px;
    margin-left: 25%;
    font-size: 80px;
}

#Temperatuur {
    margin-left: 45%;
    margin-top: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
}

#TempSubmit {
    position:absolute;
    transition: .5s ease;
    top: 65%;
    left: 37%;
    background-color: #555555;
    font-size: 20px;
    padding: 14px 60px;
    color: white;

}

#Tempconf {
    left: 37%;
    top: 10%;
}

/* opmaak knop om de temperatuur op automatisch te zetten */
#ButtonAuto {
    border-radius: 12px;
    position: absolute;
    left: 35%;
    top: 85%;
    padding: 25px 50px;
    font-weight: bold;
    background-color: #C0C0C0;
}

/* opmaak knop om de temperatuur handmatig in te stellen */
#ButtonManual {
    border-radius: 12px;
    border-radius: 12px;
    position: absolute;
    left: 55%;
    top: 85%;
    padding: 25px 50px;
    font-weight: bold;
    background-color: #C0C0C0  ;
}

/*Einde Thermostaat*/

/*Copyright opmaak*/
#Copyright {
    position: absolute;
    position: fixed;
    bottom: 3px;
}

/*Opmaak Signup*/
.signup {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 40%;
}

#Firstname {
    top: 15%;
}

#Lastname {
    top: 25%;
}

#Function {
    top: 35%;
}

#Username {
    top: 45%;
}

#Password {
    top: 55%;
}

#SignupKnop {
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 43%;
    background-color: #555555;
    font-size: 20px;
    padding: 14px 60px;
    color: white; 
}
/* Einde Signup */

/* Noodknop opmaak */

#Noodknop {
    position:fixed;
    transition: .5s ease;
    top: 85%;
    left: 63%;
    background-color: #555555;
    font-size: 20px;
    padding: 14px 60px;
    color: white;

}

/*Logboek opmaak*/
#Logboek {
    position: absolute;
    position: fixed;
    width: 400px;
    height: 130px;
    bottom: 0%;
    right: 0%;
}

#TabelMeldingen {
    position: absolute;
    left: 10%;
    top: 13%;
    border-style: solid;
}

#TabelPersoneel {
    position: absolute;
    left: 13%;
    top: 30%;
    border-style: solid;

}

#RegistreerKnop {
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 20%;
    background-color: #555555;
    font-size: 20px;
    padding: 14px 60px;
    color: white;
}

#LezerKnop {
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 60%;
    background-color: #555555;
    font-size: 20px;
    padding: 14px 60px;
    color: white;  
}

#PiConn {
    position: absolute;
    left: 1%;
    top: 10%;
    transition: .5s ease;
    background-color: #555555;
    font-size: 15px;
    padding: 14px 60px;
    color: white;
}